<%= render 'layouts/page_title', title: "Edit an existing Duty" %>
<% if @duty.errors.any? %>
<div class="row">
  <div class= "col md-8 col-md-offset-2">
    <div class= "panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          The following errors prevented the duty from being saved.
        </h2>
        <div class= "panel-body">
          <ul>
            <% @duty.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<div class="row">
  <div class="col-md-6">
    <%= form_for @duty, :html => {class: "form-horizontal",role: "form"} do |f| %>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :dutynum, "Duty Number" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :dutynum, class:"form-control", value: @duty.dutynum, autofocus: true %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :start_date, "Start Date" %>
        </div>
        <div class= "col-md-8">
           <%= f.date_field :start_date, class:"form-control", value: @duty.start_date %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :starttime, "Start Time" %>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :starttime, class:"form-control",  value: @duty.starttime %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :endtime,  "End Time" %>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :endtime, class:"form-control", value: @duty.endtime %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :paytime, "Pay Time" %>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :paytime, class:"form-control",  value: @duty.paytime %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :notes, "Notes" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_area :notes, class:"form-control", placeholder:"Notes..." %>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-6">
        <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    <% end %>
      <div class="duty-actions">
      <%= link_to "Delete this duty", duty_path(@duty), method: :delete, data: {confirm: "Are you sure??"}, class: "btn btn-xs btn-danger" %>
      <%= link_to "Return to dashboard", dashboard_path(@duty.driver.id), class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>

