<%= render 'layouts/page_title', title: "Create a new Duty" %>
<%= render 'layouts/errors', obj: @duty %>
<%= javascript_include_tag "newduties" %>
<div class="row">
  <div class="col-md-6">
    <p>Select an existing duty:</p>
    <form>
      <select name="select_dutynum" id="dutynum_select" onchange="updateForm()">
        <% @existing_duties.each do |v| %>
        <option value='<%=v.id%>'><%=v.dutynum%></option>
        <% end %>
      </select>
    </form>
    <p> Or create a new one:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= form_for @duty, :html => {class: "form-horizontal",role: "form"} do |f| %>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :dutynum, "Duty Number" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :dutynum, class:"form-control", placeholder:"0000", autofocus: true %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :start_date, "Start Date" %>
        </div>
        <div class= "col-md-8">
           <%= f.date_field :start_date, class:"form-control", value: @initial_date %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :starttime, "Start Time"%>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :starttime, class:"form-control",  placeholder:"07:00:00" %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :endtime, "End Time"%>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :endtime, class:"form-control",  placeholder:"18:00:00" %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :paytime, "Pay Time" %>
        </div>
        <div class= "col-md-8">
           <%= f.time_field :paytime, class:"form-control",  placeholder:"07:00:00" %>
        </div>
      </div>
      <div class= "form-group">
        <div class= "control-label col-md-2">
          <%= f.label :notes, "Notes" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_area :notes, class:"form-control", placeholder:"Notes..." %>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-6">
        <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Back to duty listing", dashboard_path(current_driver.id) %>
    </div>
  </div>
</div>

