<h1 align="center">Duty Number: <%= @duty.dutynum %></h1>
<div class="well col-md-8 col-md-offset-2">
  <h4>Start Date:</h4><%= @duty.start_date %>
  <hr />
  <h4>Start Time:</h4><%= @duty.starttime %>
  <hr />
  <h4>End Time:</h4><%= @duty.endtime %>
  <hr />
  <h4>Pay Time:</h4><%= @duty.paytime %>
  <hr />
  <h4><strong>Notes:</strong></h4>
  <hr />
  <%= @duty.notes %>
  <hr />
  <div class="pull-right">
    <p class="center">
      Driver:
    </p>
    <p class="center">
      <%= link_to gravatar_for(@duty.driver), driver_path(@duty.driver) %>
      <%= @duty.driver.name %>
      <div class="pull-right">
        <%= time_ago_in_words(@duty.created_at) %> ago
      </div>
    </p>
  </div>
  <div class="duty-actions">
    <% if logged_in? && (current_driver == @duty.driver || current_driver.admin?) %>
      <%= link_to "Edit this duty", edit_duty_path(@duty), class: "btn btn-xs btn-warning" %>
      <%= link_to "Delete this duty", duty_path(@duty), method: :delete, data: {confirm: "Are you sure??"}, class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Return to dashboard", dashboard_path(@duty.driver.id), class: "btn btn-xs btn-primary" %>
  </div>
</div>